html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 40px;
    padding-bottom: 40px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    opacity: 0.6;
}

.powered {
    font-size: 13px;
    font-style: italic;
    text-align: right;
    border-top: 1px #454545 solid;
}


/* Modules */
/* TODO: move to theme */

.module-panel {
    display: none;
}

.module-panel .panel-heading {
    padding: 0;
    border-bottom: none;
}

.module-panel .panel-title {
    margin: 10px 15px;
}

.module-panel .enabled-toggle {
    margin: 0;
    padding: 10px 15px;
}

.module-panel .panel-title, .module-panel .enabled-toggle {
    display: inline-block;
}

.module-panel .panel-heading a {
    color: #ffffff;
}

.module-panel .enabled-toggle {
    /*margin: 0;*/
    float: right;
}

.module-panel .enabled-toggle input[type="checkbox"] {
    margin-left: 0;
    margin-top: 3px;
}

.module-panel .panel-body {
    color: #dddddd;
    padding-top: 6px;
    padding-bottom: 6px;
}

.module-panel .panel-body p {
    margin: 0;
}

.module-panel .panel-body hr {
    margin: 6px 0;
}

.panel-cant-disable {
    border: 1px solid #293a52 !important;
    color: #eeeeee;
}

.panel-cant-disable .panel-heading {
    background-color: #293a52;
    border-color: #293a52;
}

.panel-cant-disable .panel-heading a {
    color: #bbbbbb;
}

.module-panel .module-name {
    margin: 0;
    padding: 4px 6px;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 14px;
    background-color: #242424;
    color: #56b5d1;
}

.module-panel .module-description {
    color: #eeeeee;
}

.module-panel .module-description i {
    color: #bbbbbb;
}

.module-dependencies a {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 14px;
}

.module-dependencies a.error {
    color: #ff5b4d;
}

.module-dependencies a.warning {

}
